<div class="row">
  <div class="col-md-8">
    <%= form_for @client do |f| %>
      <% if @client.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(@client.errors.count, "error") %>.</h4>
          <ul>
            <% @client.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <h2>Tell us about yourself:</h2>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class="form-group col-sm-4">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-sm-4">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group col-sm-4">
          <%= f.label :phone %>
          <%= f.text_field :phone, class: 'form-control', placeholder: "XXX-XXX-XXXX" %>
        </div>
      </div>

      <h2>Tell us about your watch:</h2>
        <%= render 'watches/watch_fields', f: f %>
        
      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
